In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
Weatherpy_database_df = pd.read_csv("Weatherpy_database.csv")
Weatherpy_database_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Min Temp,Current Description,Humidity,Cloudiness,Wind Speed,Rain (inches),Snow (inches),Country
0,0,Chumphon,10.33,98.83,78.80,78.80,broken clouds,94,75,1.57,0.0,0,TH
1,1,Werda,-25.27,23.28,35.04,35.04,clear sky,80,0,8.14,0.0,0,BW
2,2,New Norfolk,-42.78,147.06,48.00,41.00,overcast clouds,92,100,0.38,0.0,0,AU
3,3,Tilichiki,60.47,166.10,51.55,51.55,overcast clouds,91,100,5.99,0.0,0,RU
4,4,Namibe,-15.20,12.15,61.61,61.61,clear sky,85,0,1.83,0.0,0,AO

In [3]:
Weatherpy_database_df.dtypes

Unnamed: 0               int64
City                    object
Lat                    float64
Lng                    float64
Max Temp               float64
Min Temp               float64
Current Description     object
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Rain (inches)          float64
Snow (inches)            int64
Country                 object
dtype: object

In [9]:
# Enter max temperature criteria. 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 75
What is the maximum temperature you would like for your vacation? 90

In [10]:
rain_amount = input("Do you want it to be raining? (yes/no)  ")
snow_amount = input("Do you want it to be snowing?  (yes/no)  ")

Do you want it to be raining? (yes/no)  no
Do you want it to be snowing?  (yes/no)  no

In [11]:
# Narrow down cities that fit criteria
if rain_amount == "no" and snow_amount == "no":
    rec_cities_df = Weatherpy_database_df.loc[(Weatherpy_database_df["Max Temp"] <= max_temp) & 
                                       (Weatherpy_database_df["Max Temp"] >= min_temp) &
                                       (Weatherpy_database_df["Rain (inches)"] == 0) &
                                         (Weatherpy_database_df["Snow (inches)"] == 0)]
    
elif rain_amount == "no" and snow_amount == "yes":
    rec_cities_df = Weatherpy_database_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (Weatherpy_database_df["Max Temp"] >= min_temp) &
                                       (Weatherpy_database_df["Rain (inches)"] == 0) &
                                         (Weatherpy_database_df["Snow (inches)"] > 0.0)]
    
elif rain_amount == "yes" and snow_amount == "no":
    rec_cities_df = Weatherpy_database_df.loc[(Weatherpy_database_df["Max Temp"] <= max_temp) & 
                                       (Weatherpy_database_df["Max Temp"] >= min_temp) &
                                       (Weatherpy_database_df["Rain (inches)"] > 0.0) &
                                         (Weatherpy_database_df["Snow (inches)"] == 0)]
    
else:
    rec_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (Weatherpy_database_df["Max Temp"] >= min_temp) &
                                       (Weatherpy_database_df["Rain (inches)"] > 0.0) &
                                         (Weatherpy_database_df["Snow (inches)"] > 0)]

In [13]:
rec_cities_df.head(20)

,Unnamed: 0,City,Lat,Lng,Max Temp,Min Temp,Current Description,Humidity,Cloudiness,Wind Speed,Rain (inches),Snow (inches),Country
0,0,Chumphon,10.33,98.83,78.80,78.80,broken clouds,94,75,1.57,0.0,0,TH
6,6,Baherden,38.44,57.43,84.72,84.72,clear sky,42,0,6.06,0.0,0,TM
7,7,Sao Filipe,14.90,-24.50,77.92,77.92,broken clouds,83,80,6.89,0.0,0,CV
8,8,Hamilton,39.18,-84.53,82.00,77.00,few clouds,65,20,5.10,0.0,0,US
11,11,Atuona,-9.80,-139.03,79.95,79.95,clear sky,76,0,19.95,0.0,0,PF
13,13,Marsh Harbour,26.54,-77.06,84.94,84.94,broken clouds,73,81,7.29,0.0,0,BS
23,23,Namatanai,-3.67,152.43,85.33,85.33,few clouds,61,14,3.40,0.0,0,PG
25,25,Cockburn Town,21.46,-71.14,82.18,82.18,clear sky,85,0,16.91,0.0,0,TC
26,26,Makakilo City,21.35,-158.09,87.80,80.60,broken clouds,48,75,9.17,0.0,0,US
37,37,Chase,50.82,-119.69,79.00,79.00,overcast clouds,39,100,2.37,0.0,0,CA
39,39,Bol,13.46,14.71,80.26,80.26,overcast clouds,77,100,12.84,0.0,0,TD
42,42,Banda Aceh,5.56,95.32,81.34,81.34,overcast clouds,77,100,3.18,0.0,0,ID
44,44,Kapaa,22.08,-159.32,82.40,81.00,broken clouds,74,75,14.99,0.0,0,US
45,45,Laguna,38.42,-121.42,89.01,86.00,clear sky,31,1,12.75,0.0,0,US
46,46,San Patricio,19.22,-104.70,86.00,86.00,broken clouds,74,75,17.22,0.0,0,MX
57,57,Avera,33.19,-82.53,84.00,80.60,clear sky,74,1,3.27,0.0,0,US
61,61,Atambua,-9.11,124.89,78.19,78.19,clear sky,56,0,5.55,0.0,0,ID
64,64,Nerkunram,12.69,79.85,80.60,80.60,mist,88,90,4.70,0.0,0,IN
66,66,Helong,42.54,129.00,79.39,79.39,clear sky,48,2,3.11,0.0,0,CN
68,68,Vaini,-21.20,-175.20,75.20,75.20,broken clouds,73,75,12.75,0.0,0,TO

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = rec_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head()

          City Country  Max Temp Current Description    Lat     Lng Hotel Name
0     Chumphon      TH     78.80       broken clouds  10.33   98.83
6     Baherden      TM     84.72           clear sky  38.44   57.43
7   Sao Filipe      CV     77.92       broken clouds  14.90  -24.50
8     Hamilton      US     82.00          few clouds  39.18  -84.53
11      Atuona      PF     79.95           clear sky  -9.80 -139.03

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Chumphon,TH,78.80,broken clouds,10.33,98.83,บ้านอิงน้ำ โฮมสเตย์
6,Baherden,TM,84.72,clear sky,38.44,57.43,
7,Sao Filipe,CV,77.92,broken clouds,14.90,-24.50,Tortuga B&B
8,Hamilton,US,82.00,few clouds,39.18,-84.53,Six Acres Bed & Breakfast
11,Atuona,PF,79.95,clear sky,-9.80,-139.03,Villa Enata

In [31]:
# Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} 
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.9)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))